/* General dPage Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  background: skyblue;
  position: relative;
}

/* Title with background effect */
h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2em;
  position: relative;
  padding: 40px 20px;
  color: white;
  z-index: 1; /* Title is above background elements */
}

/* Container for Visualizations */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
  padding: 20px;
  overflow-x: hidden; /* Prevent horizontal scroll */
  position: relative;
  z-index: 1;
  background: transparent;

}

.vis-wrapper {
  flex: 1;
  min-width: 45%;
  max-width: 48%;
  background: transparent;
}

.vis-header {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.vis-container {
  height: 800px; /* Fixed height for the visualizations */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  overflow: visible;
  background: transparent
}

/* Locking layout for zooming prevention */
.no-zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure it's behind content */
}

/* Light animation */
.light {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  bottom: 295px;
  position: absolute;
  z-index: 10;
  left: 20px;
  animation: light 800ms ease-in-out 0s infinite alternate;
}

/* Cloud animation */
.cloud {
  position: absolute;
  top: 0px;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  right: -500px;
  opacity: .8;
  animation: cloud 10s linear 0s infinite reverse;
  z-index: 0; /* Behind the header */
}

@keyframes light {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes cloud {
  from { right: -500px; }
  to { right: 102%; }
}
