html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #007ced 1%, #cce7ff 100%);
}

/* Header styling */
header {
  text-align: center;
  padding: 40px 0 20px 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}

header h1 {
  margin: 0;
  font-size: 2.2em;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  z-index: 5;
  position: relative;
}

/* Slider */
#sliderContainer {
  text-align: center;
  margin: 20px;
  color: #fff;
}

/* Dashboard layout */
.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.side-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: visible;
}

.main-column {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
.chart-box .vega-bindings {
  margin-top: 50px;
  margin-bottom: 0;
}

.chart-box {
  background: rgba(255,255,255,0.9);
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  flex:unset;
  min-height: 400px;
  overflow: visible;
  margin: auto
}

.chart-box h2 {
  font-size: 1.1em;
  margin-top: 0;
  text-align: center;
  overflow: visible;
}

.main-chart {
  width: 650px;
  height: 650px;
  width: 100%;
  margin: auto;
}

.notes {
  font-size: 0.85em;
  color: #333;
  margin-top: 8px;
}

/* Cloud animation */
.cloud {
  position: absolute;
  top: 0px;
  right: -500px;
  opacity: .8;
  animation: cloud 10s linear 0s infinite reverse;
  z-index: 0;
}

.cloud img {
  width: 200px;
  height: auto;
}

@keyframes light {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes cloud {
  from { right: -500px; }
  to { right: 102%; }
}